# Hotel Exploratory Data Analysis
*By: Hayden Davila // Established: February 20, 2020*

This notebook contains EDA on a dataset containing hotel records. I hope to unbox this data to perform effective EDA and hopefully be able to make predictions about hotel charges and if the customer will cancel or not.

### Setup
This project consists of: 
* 1 Jupyter Notebook
* 1 CSV file containing data
* Python & necessary packages (imports displayed as needed)

The commentary on findings will precede the code to help guide your reading and understanding.

### Data
This data was found on Kaggle, it can be found [here](https://www.kaggle.com/jessemostipak/hotel-booking-demand) along with it's source. The dataset contains records for a city hotel and resort hotel. It holds values for length of stay, family size, booking dates, and many more variables that will help guide our analysis.

### Inspiration
Much like my previous research on Airbnb's in New York City [(link)](https://github.com/ProjectHayden/airbnb), this EDA aims to make traveling much easier, on the mind and wallet! Answering questions such as:
* "When's the best time to go to a resort?"
* "When are hotels most likely to be booked out?"
* "Do travel agencies find the best deals possible?"

And on the supply side, this research will help hotels gain insight towards questions such as:
* "Are families with children more likely to cancel?"
* "What effect does lead time (time between booking and staying) have on price?"
* "What months should we offer deals, as a resort?"

Travleing is fun, let's make it easier!

## Part 1: Unpacking the Data
First, we will load in the absolute neccesities in our Python packages. Further packages will imported as they become necessary.

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Now we can load in our data find some interesting results regarding the dimensions and basic statistics of our data. An interesting find is that average lead time is over 100 days before arrival and the median is 69 days, which implies some strong outliers and strong consumer sentiment about booking early for cheaper prices. On the hotel side, we see a stunning 37% cancellation rate.

In [2]:
hotel = pd.read_csv('hotel_bookings.csv')
display(hotel.head(5))

hotel_dim = hotel.shape
print(f'Our dataset contains {hotel_dim[0]} rows of data, with {hotel_dim[1]} numerical and categorical columns that help tell the story of our data.')

hotel.describe()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

Our dataset contains 119390 rows of data, with 32 numerical and categorical columns that help tell the story of our data.

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

Further inspection of our data will give us the data type of all columns, we see some columns that will be worth changing, such as adding a column for all the arrival date data to be concatenated in a better format.

In [3]:
hotel.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

### 1a: Data Cleaning
Some columns may be useless as well such as the *arrival_date_week_number* since that data will already be represented in our new arrival column. We will also get rid of the *agency* and *company* columns since we already have that data represented in the *distribution_channel* column. We will also make a new column that adds up the week and weekend night stay columns. The *country* column is also of little importance in my mind, with 41% of visitors from Portugal and next frequent is Great Britain at 10% so I'm thinking this column will be of little statistical significance.

We see 4 entries with no children records, due to the 10% chance of children being on record, and potential impact on price, I will remove these 4 entries. The rest of our data is sparkling clean and ready for EDA.

In [4]:
hotel.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Now begins our mass exodus of columns that can be combined, dropped, or transformed in anyway. This is the heart of data science in my mind, if the math/regression/analysis is the painting, then the ETL part is the canvas.

Here's what I've done in sequential order:
1. Dropped wasteful or "duplicate" columns that serve no purpose in our EDA.
1. We had 4 entries with Null values in the children column, with a mean of ~.10, I felt it was best to drop these 4 rows.
1. I combined the stays columns to just have a single stay length column.
    1. Weekend vs. Week night may have a difference when it comes to price, but testing that would be a tired case.
1. There were rows where the stay length and average daily rate (ADR) were both zero (0), so I figured these were null, and dropped them.

In [5]:
hotel_clean = hotel.drop(columns = ['agent', 'company', 'country', 'reservation_status', 'reservation_status_date', 'required_car_parking_spaces'], axis = 1)
hotel_clean = hotel_clean.dropna(subset = ['children'], axis = 0)
hotel_clean.isnull().sum()
hotel_clean['stay_length'] = (hotel_clean['stays_in_weekend_nights'] + hotel_clean['stays_in_week_nights'])
hotel_clean = hotel_clean[hotel_clean['adr'] != 0.0]

Our clean dataset now contains 117427 rows and 27 columns.

5. I then wanted to clean up our date columns and condense them into one, but I kept the year column for sipmlicity of year-by-year filtering.
1. I multiplied the ADR by stay length to get the total cost of the trip.
1. Lastly, I dropped the useless columns and our dataset is not primed for analysis and modeling.

In [23]:
import calendar
month_to_num = dict((v,k) for k,v in enumerate(calendar.month_name))
hotel_clean['month'] = hotel_clean['arrival_date_month'].map(month_to_num)
hotel_clean['arrival_date'] = pd.to_datetime((hotel_clean['arrival_date_year']*10000+hotel_clean['month']*100+hotel_clean['arrival_date_day_of_month']).apply(str),format='%Y%m%d')
hotel_clean['total_cost'] = hotel_clean['adr']*hotel_clean['stay_length']
hotels = hotel_clean.drop(columns = ['arrival_date_month', 'arrival_date_week_number', 'stays_in_weekend_nights', 'stays_in_week_nights', 'month'], axis = 1)
print(f'Our final dataset now contains {hotels.shape[0]} rows and {hotels.shape[1]} columns. We removed {hotel_dim[0] - hotels.shape[0]} total entries in our ETL process, which accounted for {np.round(((hotel_dim[0] - hotels.shape[0])/hotel_dim[0])*100, 4)}% of the original entries.')
hotels.head()

Our final dataset now contains 117427 rows and 25 columns. We removed 1963 total entries in our ETL process, which accounted for 1.6442% of the original entries.

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_day_of_month,adults,children,babies,meal,market_segment,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,total_of_special_requests,stay_length,arrival_date,total_cost
2,Resort Hotel,0,7,2015,1,1,0.0,0,BB,Direct,...,C,0,No Deposit,0,Transient,75.0,0,1,2015-07-01,75.0
3,Resort Hotel,0,13,2015,1,1,0.0,0,BB,Corporate,...,A,0,No Deposit,0,Transient,75.0,0,1,2015-07-01,75.0
4,Resort Hotel,0,14,2015,1,2,0.0,0,BB,Online TA,...,A,0,No Deposit,0,Transient,98.0,1,2,2015-07-01,196.0
5,Resort Hotel,0,14,2015,1,2,0.0,0,BB,Online TA,...,A,0,No Deposit,0,Transient,98.0,1,2,2015-07-01,196.0
6,Resort Hotel,0,0,2015,1,2,0.0,0,BB,Direct,...,C,0,No Deposit,0,Transient,107.0,0,2,2015-07-01,214.0

## Part 2: Understanding our Data
This section will be for running various analyses and visualizing potential trends that may help guide the predictive modeling part of this EDA.

# *Author's Note*
This project is a work in progress (as of 02/20/2020).

Thank you for reading this and I hope you were able to gain something from this analysis.

With appreication,

-Hayden